<%- include ('partials/header')  %>
<%-include('partials/nav')  %> 

<form action="">
   <label for="email"> email</label>
   <input type="text" required>
   <label for="fullname"> fullname</label>
   <input type="text" required>
   <label for="fullname"> Gender</label>
   <input type="text" required>
   <label for="Password">password</label>
   <input type="password" required>
   <label for="Password">confrim Password</label>
   <input type="password" required>
  <span>Already have an account </span> <a href="/login">Sign in </a>
</form>

<%- include('partials/footer')  %> 